.checklist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    padding-bottom: 5px;
}
  
/* Add space between checkbox and text */
input[type="checkbox"] {
    margin-right: 5px; /* Adjust the amount of space as needed */
}

/* Style checked text with line-through */
.checked {
    text-decoration: line-through;
  }