.aceptado{

  color:rgb(0, 104, 47);
  font-weight: bold;

}

.rechazado{

  color:rgb(207, 42, 42);
  font-weight: bold;

}

.espera{

  color:rgb(121, 121, 121);
  font-weight: bold;

}

.centered-container {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.centered-FinalRescontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.FinalResul{

  color: gray;
  font-weight: bolder;

  font-size: 75px;

}

.custom-btn {
  border-radius: 20px; 
  background-color: #0C356A; 
  color: #fff; 
  padding: 10px 20px; 
  font-weight: bold;
  font-size: 2vh;
  border: none; 
  cursor: pointer; 
  height: 70%;
  width: 40%;
}


.custom-btn:hover {
  background-color: #0056b3; 
}

.custom-btn2 {
  border-radius: 20px; 
  background-color: red; 
  color: #fff; 
  font-size: 2vh; 
  font-weight: bold;
  border: none; 
  cursor: pointer; 
  height: 70%;
  width: 40%;
}
.custom-btn2:hover {
  background-color: #0056b3; /* Cambiar color de fondo al pasar el ratón */
}

#comentario-style{
  background-color: gainsboro;
}

.file{
  color: black;
}
.file:hover{
  color: #0056b3;
}
.comments{
  height: 100px;
}
#card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: #f2f2f2;
  display: flex;
  overflow-x: auto; /* Habilita el desplazamiento horizontal */
  padding: 0; /* Elimina el relleno predeterminado de la lista */
  list-style: none; /* Elimina los puntos de viñeta de la lista */
}

#card li{
  width: 25%;
  height: 80%;
  padding: 5px;
}

#card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#card img {
  width: 100%; 
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.scrollable-container {
  width: 100%; /* O el ancho deseado */
  overflow-x: auto; /* Habilita la barra de desplazamiento horizontal cuando sea necesario */
  display: inline-block;
}
#card p {
  margin: 0; /* Elimina cualquier margen interno del párrafo */
  max-width: 100%; /* Establece el ancho máximo del párrafo al 100% del tamaño del td */
  font-size: 20px;
  text-align: center;
}
#card .list-group-item {
  flex: 0 0 auto; /* Establece el tamaño automático para cada elemento de la lista */
  margin-right: 30px; /* Espacio entre elementos */
}

#card .list-group-item:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento */
}
#imgfondo{
  background-color: #fff;
}
.centered-container {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.centered-FinalRescontainer {
  height: 10vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
.centered-container2 {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: right;
  flex-wrap: wrap;
}
.centered-container3 {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}
#comentarioProfe{
  border: 2px solid #000; 
}

.proj-sub-bold{
  color: #ffffff;
  font-weight: bolder;

}
.proj-sub{
  color: #ffffff;

}
.proj-tit{
  color: #ffffff;
  font-weight: bolder;
  font-size: 40px;
}